<h2>{{todo.name}}</h2>
<a href="/todos/{{todo._id}}/edit">Edit</a>
<a href="/">Back</a>
<form action="/todos/{{todo._id}}/delete" method="POST" style="display: inline">
    <button>Delete</button>
</form>